DATABASE_URL="file:./dev.db"
# For production PostgreSQL / MySQL:
# DATABASE_URL="postgresql://user:password@localhost:5432/omswastik_db?schema=public"
JWT_SECRET="your-secure-random-jwt-secret-min-32-chars"
NEXT_PUBLIC_APP_URL="https://omswastikbuildhomes.com"
